[user]
	name = Julio Napurí
	email = julionc@gmail.com
[core]
	editor = vim
[alias]
	a = add
	br = branch
	ci = commit -m
	co = checkout
	count = shortlog
	st = status -sb
	ll = log --pretty=oneline --abbrev-commit --max-count=15
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
[color]
	diff = auto
	status = auto
	branch = auto
[github]
	user = julionc
[push]
	default = simple
