
# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
*~
Thums.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
$RECYCLE.BIN/

*~
*.sw?
*.swp

# dotfiles
.gitconfig.local
.setup

# zed editor
*.mdb

