# ~/.dotfiles/.gitconfig

# Local/private config goes in the include
[include]
  path = ~/.gitconfig.local

[user]
  # Identity configuration should go in .gitconfig.local
  # name = Your name
  # email = your@email.com

[core]
  editor = vim
  excludesfile = ~/.gitignore
  autocrlf = false
  pager = delta
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  fsmonitor = true

[color]
  branch = auto
  diff = auto
  status = auto
  ui = true

[interactive]
  diffFilter = delta --color-only

[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse
  line-numbers = true
  plus-color = "#012800"
  minus-color = "#340001"
  syntax-theme = Monokai Extended
  side-by-side = false
  file-modified-label = modified:
  navigate = true
  keep-plus-minus-markers = false
  dark = auto

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none

[alias]
  a = add
  amend = commit --amend
  br = branch
  ci = commit -m
  co = checkout
  empty = !git init && git commit --allow-empty -m \"Initial commit\"
  fe = fetch --all --prune
  follow = log --oneline --follow --stat --summary --
  fpush = push --force-with-lease
  last = log -1 HEAD
  lc = log -n 1 --pretty=format:%H --
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  lgo = log --oneline --decorate
  ll = log --pretty=oneline --abbrev-commit --max-count=15
  lol = log --oneline --graph --decorate --all
  mend = commit --amend --reuse-message HEAD
  mrproper = !git reset --hard HEAD && git clean -fdx
  ours = !git checkout --ours $@
  out = log --oneline --decorate @{upstream}..
  rbc = rebase --continue
  rbs = rebase -i
  re = rebase
  shortdesc = !git --no-pager log -1 --pretty='tformat:%h (%s, %ad)' --date=short
  stat = diff --stat
  statc = diff --cached --stat
  st = status -sb
  tagv = !git tag -v $(git describe --abbrev=0)
  theirs = !git checkout --theirs $@
  tip = !git --no-pager log -1 --decorate --abbrev-commit --date=relative --show-signature
  undo = reset --soft HEAD^
  uncommit = reset --soft HEAD^
  unstage = reset HEAD --
  wdiff = diff --word-diff
  wshow = show --word-diff

[format]
  pretty = format:%C(blue)%ad%Creset %C(yellow)%h%C(green)%d%Creset %C(blue)%s %C(magenta)[%an]%Creset

[push]
  default = simple

[pull]
  ff = only

[merge]
  conflictStyle = zdiff3

[init]
  defaultBranch = main

[help]
  autocorrect = 1

[credential]
  helper = cache --timeout=86400

[diff]
  conflictstyle = zdiff3
  algorithm = histogram
[checkout]
	defaultRemote = origin
